:host {
    display: block;
}

#selection-container {
    display: grid;
    gap: 1rem;
    padding: 0.5rem;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    overflow-x: auto;
}

#selection-container .location {
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
}

#selection-container .content {
    box-shadow: 0px 2px 12px -3px rgb(0 0 0 / 30%);
}

#selection-container .group {
    text-align: center;
    font-weight: bold;
    margin: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#selection-container .title {
    margin: 1rem 0;
    color: var(--color-primary);
}

#next-btn {
    font-size: 20px;
    margin: 1rem;
    padding: 0.5rem 1rem;
    white-space: normal;
    transition: 100ms;
}

#next-btn[disabled="true"] {
    background-color: rgb(163, 77, 93, 0.3);
}

.flex-cont {
    flex-direction: column;
    align-items: center;
}

.info-text {
    max-width: 600px;
    text-align: center;
    font-weight: 300;
}

.hide {
    display: none;
}

.toggle {
    padding: 0.5rem;
}

@media screen and (max-width: 960px) {
    #selection-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-auto-flow: row;
    }
}

mat-selection-list {
    font-weight: 300;
    font-size: 0.9rem;
}

.mat-mdc-list-item-line.mdc-list-item__secondary-text {
    color: var(--mdc-list-list-item-label-text-color);
}

::ng-deep .mdc-list-item__content .mdc-list-item__secondary-text::before {
    height: 0;
    display: inline;
}

mat-list-option:nth-child(n) {
    height: auto;
    padding: 0.5rem;
}

.bold {
    font-weight: bold;
}

span[matlistitemtitle] {
    text-wrap: balance;
    white-space: normal;
}

::ng-deep app-produkte mat-list-option .mdc-list-item__end {
    margin-left: 0 !important;
}