<ng-container *ngIf="vm$ | async as vm">
    <div id="selection-container" *ngIf="vm.length > 0; else inPlanung">
        <ng-container *ngFor="let vmOrt of vm" class="ort">
            <div class="location" [style.color]="config.color_bundesland">
                {{vmOrt[0].ort}}
            </div>
            <div class="content" [style.background-color]="config.color_termin">
                <div class="group" *ngFor="let view of vmOrt; let viewIndex = index">
                    <div class="title"> {{view.title}}</div>
                    <div>
                        <mat-selection-list multiple="false" [id]="vmOrt[0].ort + viewIndex">
                            <mat-list-option *ngFor="let produkt of view.produkte; let idx = index" [disabled]="produkt.freiePlaetze == 0"
                                (selectedChange)="onSelect($event, {index: idx, produkt}, vmOrt[0].ort + viewIndex)">
                                <ng-container *ngIf="produkt.seminartage?.length! > 1 ?? false">
                                    <span matListItemTitle>
                                        Startdatum: {{produkt.startdatum | date: 'longDate'}}</span>
                                </ng-container>
                                <ng-container *ngIf="produkt.vorlage">
                                    <div *ngFor="let tag of produkt?.seminartage?.slice(0,1);" matListItemTitle>
                                        {{ tag.startzeit | date:'EEE' }} {{ tag.startzeit | date:'mediumDate' }} von {{
                                        tag.startzeit | date: 'HH:mm'}} - {{ tag.endzeit | date: 'HH:mm'}} Uhr
                                    </div>
                                    <div *ngFor="let tag of produkt?.seminartage?.slice(1)" matListItemLine>
                                        {{ tag.startzeit | date:'EEE' }} {{ tag.startzeit | date:'mediumDate' }} von {{
                                        tag.startzeit | date: 'HH:mm'}} - {{ tag.endzeit | date: 'HH:mm'}} Uhr
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="!produkt.isOnlineakademie; else online">
                                    <span matListItemLine>
                                        Leitung: {{produkt.leitung }}
                                    </span>
                                    <div matListItemLine class="status" [ngSwitch]="produkt.freiePlaetze">
                                        <span *ngSwitchCase="0">ausgebucht</span>
                                        <span *ngSwitchCase="1">nur noch 1 freier Platz</span>
                                        <span *ngSwitchCase="2">nur noch 2 freie Plätze</span>
                                        <span *ngSwitchCase="3">nur noch 3 freie Plätze</span>
                                        <span *ngSwitchDefault>noch freie Plätze</span>
                                    </div>
                                </ng-container>
                            </mat-list-option>
                        </mat-selection-list>
                    </div>
                    <div [class.hide]="view.produkte.length < maxProducts" class="toggle">
                        <mat-slide-toggle #showAll>Zeige alle</mat-slide-toggle>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <ng-template #inPlanung>
        <div style="text-align: center;">
            Termine in Planung...
        </div>
    </ng-template>
</ng-container>

<ng-template #online>
    <span matListItemTitle>
        Klicke hier, um flexibel online zu lernen<br>
        und den Onlinekurs zu buchen
    </span>
</ng-template>