<ng-container *ngIf="vm$ | async as vm">
    <div id="selection-container" *ngIf="vm.length > 0; else inPlanung">
        <ng-container *ngFor="let vmOrt of vm" class="ort">
            <div class="location" [style.color]="config.color_bundesland">
                {{vmOrt[0].ort}}
            </div>
            <div class="content" [style.background-color]="config.color_termin">
                <div class="group" *ngFor="let view of vmOrt">
                    <div class="title"> {{view.title}}</div>
                    <div>
                        <app-termin [produkt]="p" *ngFor="let p of view.produkte; let idx = index"
                            (onSelect)="onSelect($event)" [idx]="idx"
                            [class.selected]="idx === selection?.index && vmOrt[0].ort == selection?.produkt?.ort" />
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <ng-template #inPlanung>
        <div style="text-align: center;">
            Termine in Planung...
        </div>
    </ng-template>
</ng-container>