
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// @include mat.all-component-typographies();
@include mat.core();

// @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Open+Sans:wght@300;500;700&display=swap');

// green #16978c
// refd #b05d69
// gray-med #e1e2e1
// gray-lght #f5f5f6
// http://mcg.mbitson.com/#!?primary=%2316978c&secondary=%23b05d69&themename=cors
$md-primary: (
  50: #e3f3f1,
  100: #b9e0dd,
  200: #8bcbc6,
  300: #5cb6af,
  400: #39a79d,
  500: #16978c,
  600: #138f84,
  700: #108479,
  800: #0c7a6f,
  900: #06695c,
  A100: #99fff0,
  A200: #66ffe8,
  A400: #33ffe1,
  A700: #1affdd,
  contrast: (50: #000000, 100: #000000, 200: #000000, 300: #000000, 400: #000000, 500: #ffffff, 600: #ffffff, 700: #ffffff, 800: #ffffff, 900: #ffffff, A100: #000000, A200: #000000, A400: #000000, A700: #000000, )
);
$md-secondary: (
  50: #f6eced,
  100: #e7ced2,
  200: #d8aeb4,
  300: #c88e96,
  400: #bc7580,
  500: #b05d69,
  600: #a95561,
  700: #a04b56,
  800: #97414c,
  900: #87303b,
  A100: #ffcfd5,
  A200: #ff9ca8,
  A400: #ff697a,
  A700: #ff5064,
  contrast: (50: #000000, 100: #000000, 200: #000000, 300: #000000, 400: #000000, 500: #ffffff, 600: #ffffff, 700: #ffffff, 800: #ffffff, 900: #ffffff, A100: #000000, A200: #000000, A400: #000000, A700: #000000, )
);
$md-background: (
  50: #fbfcfb,
  100: #f6f6f6,
  200: #f0f1f0,
  300: #eaebea,
  400: #e6e6e6,
  500: #e1e2e1,
  600: #dddfdd,
  700: #d9dad9,
  800: #d5d6d5,
  900: #cdcfcd,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (50: #000000, 100: #000000, 200: #000000, 300: #000000, 400: #000000, 500: #000000, 600: #000000, 700: #000000, 800: #000000, 900: #000000, A100: #000000, A200: #000000, A400: #000000, A700: #000000, )
);

// $custom-typography: mat.define-typography-config(
//    $body-1: mat.define-typography-level($font-size: 15px, $font-family: 'Open Sans')
//   );

$my-app-primary: mat.define-palette($md-primary);
$my-app-accent: mat.define-palette($md-secondary);
$my-app-warn: mat.define-palette(mat.$deep-orange-palette);
$my-app-background: mat.define-palette($md-background);
$theme: mat.define-light-theme((color: (primary: $my-app-primary,
        accent: $my-app-accent,
        warn: $my-app-warn),
        density: -1));
// typography: $custom-typography)
        
@include mat.all-component-themes($theme);

:root {
  --color-primary: #{mat.get-color-from-palette($my-app-primary, default)};
  --color-primary-50: #{mat.get-color-from-palette($my-app-primary, 50)};
  --color-primary-100: #{mat.get-color-from-palette($my-app-primary, 100)};
  --color-primary-light: #{mat.get-color-from-palette($my-app-primary, 300)};
  --color-primary-dark: #{mat.get-color-from-palette($my-app-primary, 700)};
  --color-accent: #{mat.get-color-from-palette($my-app-accent)};
  --color-accent-50: #{mat.get-color-from-palette($my-app-accent, 50)};
  --color-accent-100: #{mat.get-color-from-palette($my-app-accent, 100)};
  --color-accent-200: #{mat.get-color-from-palette($my-app-accent, 200)};
  --color-accent-light: #{mat.get-color-from-palette($my-app-accent, 300)};
  --color-accent-dark: #{mat.get-color-from-palette($my-app-accent, 700)};
  --color-warn: #{mat.get-color-from-palette($my-app-warn)};
  --color-warn-light: #{mat.get-color-from-palette($my-app-warn, 300)};
  --color-warn-dark: #{mat.get-color-from-palette($my-app-warn, 700)};
  --color-gray-light: rgba(0, 0, 0, 0.04);
}



mat-expansion-panel {
  padding: 0.5rem;
}