# Hugo output folders (niemals ins Repo!)
/public/
/resources/

# Node
/node_modules/

# Hugo lock file
/.hugo_build.lock

# VS Code workspace file
/*.code-workspace

# OS junk
.DS_Store
Thumbs.db

# Logs & temp
*.log
*.tmp
*.cache
