:root {
    --color-green: #16978c;
    --color-red: #a34d5d;
    --color-gray: #969696;
    --color-lightgray: #eee;
    --color-creme: #f8eada;
}

body {
    box-sizing: content-box;
    font-family: 'Open Sans', sans-serif;

    padding: 0;
    margin: 0;
    min-height: 100vh;

    display: grid;
    grid-gap: 0px;

    grid-template-columns: 1fr minmax(auto, 1024px) 1fr;
    grid-template-areas:
            "hfill1 header hfill2"
            ". jumbo ."
            ". main ."
            ". contact ."
            ". . ."
            "footer footer footer";
    grid-template-rows: auto auto auto 1fr auto;

    /* grid-template-rows: auto auto auto auto; */
    align-content: stretch;

    /* background-color: var(--color-light); */
    /* scroll-snap-type: y mandatory; */
}

@media (max-width: 700px) {
    body {
        grid-template-columns: auto;
        grid-template-areas:
        "header"
        "jumbo"
        "main"
        "."
        "contact"
        "footer";
    }

    .head-filler {
        display: none;
    }
}

header {
    padding: 10px;
    grid-area: header;
    display: flex;
    justify-content: space-between;    
    position: relative;
    top: 0;
    z-index: 999;    
    transition: ease-in-out 400ms;
    color: var(--color-light);    
    background-color: var(--color-green);    
    /* filter: drop-shadow(5px 5px 7px black); */
}
header>.fltr {
    filter: blur(4px);
    width: 100%;
    height: 100%;
    position: absolute;
}

header.responsive {
    background-color: var(--color-green);
}

.head-filler {
    background-color: var(--color-green);
}

main {
    grid-area: main;    
}

.contact {
    grid-area: contact;
}

footer {
    grid-area: footer;
    background-color: var(--color-gray);
    color: white;
    font-size: 0.8rem;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
footer>div {
    padding: 5px;
}

section.image {
    padding: 0;
    grid-area: pic; 
    margin-top: -51px;
}
.image.bg {
    background-size: cover; 
    height: 100vh;
    max-height: 500px; 
    background-position: center center;
}

section.image>img {
    width: 100%;
    display: block;
    max-height: 1000px;
}

.btn {
    background-color: rgba(163, 184, 180, 1);
    border: solid rgba(153, 153, 151, 1) 0px;    
    display: flex;
    text-decoration: none;
    color: inherit;
    padding: 5px;
    transition: ease-in 200ms;
    margin: 2px 5px;
}
.btn>span {
    min-width: 150px;
    text-align: center;
}

.btn:hover {
    background-color: var(--color-main);    
}

p {
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

img {
    display: block;
    max-width: 100%;
}