:root {
    --color-green: #16978c;
    --color-red: #a34d5d;
    --color-gray: #969696;
    --color-lightgray: #eee;
    --color-creme: #f8eada;
    --color-blue: #e6f4f4;
    --padding-main: 1em;
    --color-text: #444
}

@font-face {
    font-family: 'dhanikans_signature_2regular';
    src: url('dhanikans_signature_2_dafont-webfont.woff2') format('woff2'),
         url('dhanikans_signature_2_dafont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dhanikans_signature_italicIt';
    src: url('dhanikans_signature_italic_dafont-webfont.woff2') format('woff2'),
         url('dhanikans_signature_italic_dafont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

body {
    box-sizing: content-box;
    
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    
    color: var(--color-text);

    padding: 0;
    margin: 0;
    min-height: 100vh;

    display: grid;
    grid-gap: 0px;

    grid-template-columns: 1fr minmax(auto, 1024px) 1fr;
    grid-template-areas:
            "hfill1 header hfill2"
            ". jumbo ."
            "aside main ."
            ". . ."
            "footer footer footer";
    grid-template-rows: auto auto auto 1fr auto;

    /* grid-template-rows: auto auto auto auto; */
    align-content: stretch;

    /* background-color: var(--color-light); */
    /* scroll-snap-type: y mandatory; */
}

main {
    margin-bottom: 5em;    
    /* display: grid;
    grid-template-columns: 1fr minmax(auto, 640px);     */
}

@media (max-width: 1280px) {
    aside {
        display: none;
    }
}

@media (max-width: 700px) {
    body {
        grid-template-columns: auto;
        grid-template-areas:
        "header"
        "jumbo"
        "main"
        "."
        "footer";
    }

    .head-filler {
        display: none;
    }

    aside {
        display: none;
    }

    .box:not(.blue) {
        flex-direction: column;
    }
}

header {
    padding: 10px;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    color: var(--color-light);    
    background-color: var(--color-green); 
    /* letter-spacing: 2.24px; */
    /* filter: drop-shadow(5px 5px 7px black); */
}
header>.fltr {
    filter: blur(4px);
    width: 100%;
    height: 100%;
    position: absolute;
}
header>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* flex-grow: 1; */
}

header.responsive {
    background-color: var(--color-green);
}

.head-filler {
    background-color: var(--color-green);
}

main {
    grid-area: main;    
    padding: var(--padding-main);
}

aside {
    grid-area: aside;
    position: relative;
    padding: 1em;
}

aside .cont {
    position: sticky;
    top: 30vh;
}

aside nav ul {
    list-style: decimal;
    margin: 0;
    /* padding: 0; */
}

/* .contact {
    grid-area: contact;
} */

footer {
    grid-area: footer;
    background-color: var(--color-gray);
    color: white;
    font-size: 0.8rem;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
footer>div {
    padding: 5px;
}

section.image {
    padding: 0;
    grid-area: pic; 
    margin-top: -51px;
}
.image.bg {
    background-size: cover; 
    height: 100vh;
    max-height: 500px; 
    background-position: center center;
}

section.image>img {
    width: 100%;    
    display: block;
    max-height: 1000px;
}

main a, main a:visited {
    color: var(--color-green);
    text-decoration: none;
}

footer div a {
    color: inherit;
    text-decoration: none;
}

.btn {
    background-color: rgba(163, 184, 180, 1);
    border: solid rgba(153, 153, 151, 1) 0px;    
    display: flex;
    text-decoration: none;
    color: inherit;
    padding: 5px;
    transition: ease-in 200ms;
    margin: 2px 5px;
}
.btn>span {
    min-width: 150px;
    text-align: center;
}

.btn:hover {
    background-color: var(--color-main);    
}

p {
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    -webkit-font-smoothing: antialiased;
    hyphens: auto;
    text-align: justify;
    line-height: 1.5;
}

img {
    display: block;
    max-width: 100%;
}

.box {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: flex-end; */
    align-items: center;    
}

.box > * {
    flex-basis: 0;
    flex-grow: 1;
    padding: 0 1em;
}

.box.blue {
    background-color: var(--color-blue);
    align-items: stretch;
}

.box .large {
    max-width: 640px;
    flex-shrink: 0;
    flex-grow: 2;
}
.box .small {
    flex-basis: 0;
    flex-grow: 1;
}

figure {
    margin: 1em;
    /* margin-left: 0; */
    /* float: left;     */
}

figure img {
    /* max-width: 280px;     */
}

figcaption h4 {
    margin: 5px 0;
    font-size: 0.9em;
    /* text-align: center; */
    color: gray;
}

h1, h2, h3, h4 {
    font-weight: 300;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: var(--color-red);
    font-size: 26px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    color: var(--color-red);
    font-size: 22px;
}

h3, h4 {
    text-align: center;    
    text-transform: uppercase;
    color: var(--color-red);
    font-size: 18px;
}

h3 {
    text-align: left;
    color: var(--color-green);
}

hr {    
    border-top: 1px solid var(--color-green);
    margin-top: 25px;
}

main ul li:nth-child(odd) {
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAAEhcmxxAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAACxMAAAsTAQCanBgAAAC9SURBVChTdZLhEcIgDIU7giM4giP4W+F0gKZ0BEdgA0fwDvzfERzBERzBETR5DRWEfnftJS8JPGi7mmiHT/aCQr4Llp4sTOgpiIZeS4XbHgiYeHT7YPsRicwjYKRwO7mtpj/uB7fj5d5IpEssyMPdG4hCsYd6BMH0Zw2LJljUsJ5Ie6hUMx+dLkhgERMqMHDKtvMzLvw352jNazrTFJVmLTvElK4VGltaW6giDci9Nb/NGvJpghmucIBfgfwX53V2icJKKTcAAAAASUVORK5CYII=);
}

main ul li:nth-child(even) {
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAAEhcmxxAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAACxMAAAsTAQCanBgAAAC/SURBVChTdZLREcIgDIYdwWeFqyM4giM4giM4Qp8b7nhRGKMjOEJHcARHqPnTUKjgd9de8icpf4FdjY1uLl6iUI9k4mCUng0m0Hut2OBeEjDHSBceu0mCeQkYFLroT5pmDo/hbCJ9JNHxGU/n/V5EUK6Boobs5OmuGm6axKKG9URaQ6UaLk42DHdJYFEmksDAKWyjUaXMb3OJ1LC7JU1RadbyT9CYthXaYqn9oYp1gPeteTb/wNGY6DwcLFeB+i++J3M0Peun0wAAAABJRU5ErkJggg==);
}

.card {
    padding: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.card > * {
    padding: 0.5em;
}

.card .icon img {
    height: 3em;
}

.card .title {
    text-transform: uppercase;
    color: var(--color-green);
}

.card .title a {
    color: inherit;
    text-decoration: none;
}

.card .text {
    flex-grow: 2;
}

.card .link img {
    height: 3em;
}

.card.active {
    background-color: var(--color-creme);
}

/* .card a::after {
    content: "\003e";
} */

.line {
    position: relative;
    margin: 50px 0;
}

.line hr {
    margin: 0;
}

.line img {
    height: 3em;
}

.line div {
    color: var(--color-green);
    font-weight: bold;
    font-size: 2em;
    position: absolute;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 0 15px;
    background: #fff;
}

.ifge-font {    
    font-family: "dhanikans_signature_2regular";
}

.slogan {
    color: var(--color-green);
    font-size: larger;
    text-align: center;      
}

.slogan .ifge-font {
    color: var(--color-red);
    font-size: 1.4rem;
}

.signature {
    color: var(--color-red);
    font-size: 1.8rem;
}

.floatbox {
    padding: var(--padding-main);
}

.floatbox img {
    max-width: 350px;
    padding: var(--padding-main);    
    margin: 0;
    padding: 0;
}

.floatbox img.left {
    float: left;
    padding-right: var(--padding-main);
}

.floatbox img.right {
    float: right;
    padding-left: var(--padding-main);
}

.red {
    color: var(--color-red);
}

.green {
    color: var(--color-green);
}