:root {
    --color-green: #16978c;
    --color-red: #a34d5d;
    --color-gray: #969696;
    --color-lightgray: #eee;
    --color-creme: #f8eada;
    --padding-main: 1em;
}

body {
    box-sizing: content-box;
    font-family: 'Open Sans', sans-serif;

    padding: 0;
    margin: 0;
    min-height: 100vh;

    display: grid;
    grid-gap: 0px;

    grid-template-columns: 1fr minmax(auto, 1024px) 1fr;
    grid-template-areas:
            "hfill1 header hfill2"
            ". jumbo ."
            "aside main ."
            ". . ."
            "footer footer footer";
    grid-template-rows: auto auto auto 1fr auto;

    /* grid-template-rows: auto auto auto auto; */
    align-content: stretch;

    /* background-color: var(--color-light); */
    /* scroll-snap-type: y mandatory; */
}

main {
    margin-bottom: 5em;
    /* display: grid;
    grid-template-columns: 1fr minmax(auto, 640px);     */
}

@media (max-width: 1280px) {
    aside {
        display: none;
    }
}

@media (max-width: 700px) {
    body {
        grid-template-columns: auto;
        grid-template-areas:
        "header"
        "jumbo"
        "main"
        "."
        "footer";
    }

    .head-filler {
        display: none;
    }

    aside {
        display: none;
    }

    .box {
        flex-direction: column;
    }
}

header {
    padding: 10px;
    grid-area: header;
    display: flex;
    justify-content: space-between;    
    position: relative;
    top: 0;
    z-index: 999;    
    transition: ease-in-out 400ms;
    color: var(--color-light);    
    background-color: var(--color-green); 

    font-family: Roboto, sans-serif, "google";
    font-weight: 400;
    /* letter-spacing: 2.24px; */
    /* filter: drop-shadow(5px 5px 7px black); */
}
header>.fltr {
    filter: blur(4px);
    width: 100%;
    height: 100%;
    position: absolute;
}
header>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header.responsive {
    background-color: var(--color-green);
}

.head-filler {
    background-color: var(--color-green);
}

main {
    grid-area: main;    
    padding: var(--padding-main);
}

aside {
    grid-area: aside;
    position: relative;
    padding: 1em;
}

aside .cont {
    position: sticky;
    top: 30vh;
}

aside nav ul {
    list-style: decimal;
    margin: 0;
    /* padding: 0; */
}

/* .contact {
    grid-area: contact;
} */

footer {
    grid-area: footer;
    background-color: var(--color-gray);
    color: white;
    font-size: 0.8rem;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
footer>div {
    padding: 5px;
}

section.image {
    padding: 0;
    grid-area: pic; 
    margin-top: -51px;
}
.image.bg {
    background-size: cover; 
    height: 100vh;
    max-height: 500px; 
    background-position: center center;
}

section.image>img {
    width: 100%;    
    display: block;
    max-height: 1000px;
}

.btn {
    background-color: rgba(163, 184, 180, 1);
    border: solid rgba(153, 153, 151, 1) 0px;    
    display: flex;
    text-decoration: none;
    color: inherit;
    padding: 5px;
    transition: ease-in 200ms;
    margin: 2px 5px;
}
.btn>span {
    min-width: 150px;
    text-align: center;
}

.btn:hover {
    background-color: var(--color-main);    
}

p {
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

img {
    display: block;
    max-width: 100%;
}

.box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.box .main {
    max-width: 640px;
    flex-shrink: 0;
}
.box .side {
    padding: 0 1em;
    flex-shrink: 1;
}

figure {
    margin: 1em;
    margin-left: 0;
    float: left;    
}

figure img {
    max-width: 300px;    
}

figcaption h4 {
    margin: 5px 0;
    font-size: 0.9em;
    /* text-align: center; */
    color: gray;
}

hr {
    clear: both;
}