:host {
    --color-green: #16978c;
    --color-green-light: #e6f4f4;
    --color-red: #a34d5d;
    --color-red-light: #e9d1d4;
    display: block;
}

.formular {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 0.5em;
    row-gap: 0.5em;
}

.formular select {
    width: 100%;
}

.formular label {
    text-align: right;
}

.formular input,
.formular select,
.formular label {
    padding: 5px;
    font-family: "Roboto", sans-serif;
}

.required:after {
    content: " *";
    color: var(--color-red);
}

.button {
    background-color: var(--color-red);
    color: white;
    border-width: 0;
    padding: 0.5em;
    margin-top: 1em;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
}

.button:hover {
    cursor: pointer;
}

#form-container {
    display: none;
    margin-top: 1rem;
}

#form-container.show {
    display: block;
}

@media (max-width: 700px) {
    .formular {
        grid-template-columns: auto;
        row-gap: 0.2em;
    }

    .formular label {
        margin-top: 0.6em;
        text-align: left;
        padding: 2px;
    }
}