:host {
    --color-green: #16978c;
    --color-green-light: #e6f4f4;
    --color-red: #a34d5d;
    --color-red-light: #e9d1d4;
    display: block;
    padding: 1rem;
    background-color: var(--ltw-color-bg);
}


a {
    color: var(--color-green);
}

.action {
    margin: 2rem 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}
