<button class="button" style="width: 100%;" (click)="expanded = !expanded" *ngIf="expandable">
    {{ title }}
    <span style="font-size: 0.7rem;">{{ expanded ? '&#9650;' : '&#9660;'}}</span>
</button>

<div *ngIf="!expandable || expanded" [@inOutAnimation] style="margin-top: 1rem;">
    <form method="post" action="anmeldung.php" id="cform">
        <div class=formular>
            <label for="anrede" class="required">Anrede</label>
            <div>
                <input type="radio" id="male" name="Anrede" value="Herr" required>
                <label for="male">Herr</label>
                <input type="radio" id="female" name="Anrede" value="Frau">
                <label for="female">Frau</label>
                <input type="radio" id="divers" name="Anrede" value="Divers">
                <label for="divers">Divers</label>
                <input type="radio" id="firma" name="Anrede" value="Firma">
                <label for="firma">Firma</label>
            </div>
            <label for="Vorname" class="required">Vorname</label>
            <input type="text" id="Vorname" name="Vorname" required>
            <label for="Nachname" class="required">Nachname</label>
            <input type="text" id="Nachname" name="Nachname" required>
            <label for="fname">Firmenname</label>
            <input type="text" id="fname" name="Firmenname">
            <label for="Email" class="required">Email</label>
            <input type="Email" id="Email" name="Email" required>
            <label for="Veranstaltung" class="required">Veranstaltung</label>
            <input id="Veranstaltung" name="Veranstaltung" required *ngIf="_veranstaltungSelected" disabled
                [value]="_veranstaltungSelected">
            <select id="Veranstaltung" name="Veranstaltung" required *ngIf="!_veranstaltungSelected">
                <option *ngFor="let v of _veranstaltungen" [value]="v">{{ v }}</option>
            </select>
            <ng-container *ngIf="aufstellungen">
                <label for="aufst">nur bei Aufstellungen</label>
                <select id="aufst" name="Nur bei Aufstellungen">
                    <option>-</option>
                    <option>Familienaufstellung - mit eigenem Anliegen</option>
                    <option>Familienaufstellung - teilnehmender Beobachter</option>
                </select>
            </ng-container>
            <label for="zahlung">Zahlungsvariante</label>
            <select id="zahlung" name="Zahlung">
                <option>-</option>
                <option>Einmalzahlung</option>
                <option>Aktion: Sofort 1x Zahlung (Gültigkeit beachten)</option>
                <option>Semesterzahlung (nur bei Lsb Lehrgang möglich)</option>
                <option>Ratenzahlung</option>
                <option>pro Seminar / pro Modul</option>
            </select>
            <label for="uid">UID Nummer</label>
            <input type="text" id="uid" name="UID">
            <label for="adresse" class="required">Adresse</label>
            <input type="text" id="adresse" name="Adresse" required>
            <label for="plz" class="required">PLZ</label>
            <input type="text" id="plz" name="PLZ" required>
            <label for="ort" class="required">Ort</label>
            <input type="text" id="ort" name="Ort" required>
            <label for="tel" class="required">Tel.</label>
            <input type="text" id="tel" name="Tel" required>
            <label for="nachricht">Ihre Mitteilung an uns</label>
            <textarea type="text" id="nachricht" name="Ihre Mitteilung an uns" rows="10" cols="50" res></textarea>
            <label for="bildungsscheck">IFGE Bildungsscheck Code</label>
            <input type="text" id="bildungsscheck" name="Bildungsscheck">
            <label for="aktion">IFGE Aktionscode</label>
            <input type="text" id="aktion" name="Aktion">
            <label for="agb" class="required">Ich stimme den AGB zu</label>
            <input type="checkbox" id="agb" name="AGB" value="ja" required>
            <label for="wdruf" class="required">Widerrufsbelehrung gelesen u. akzeptiert</label>
            <input type="checkbox" id="wdruf" name="Widerrufsbelehrung" value="ja" required>
            <label for="datenschutz" class="required">Es gilt die Datenschutzerklärung</label>
            <input type="checkbox" id="datenschutz" name="Datenschutzerklärung" value="ja" required>
            <input type="hidden" name="recaptcha_response" id="recaptchaResponse">
            <div></div>
            <input type="submit" class="button" value="Absenden">
        </div>
    </form>
</div>