<app-produkte *ngIf="step == 0 && query" (produktSelected)="selection = $event;"
    [query]="query" />

<app-kauf [produkt]="selection" *ngIf="selection && step == 1" (back)="step = 0" (anmeldung)="emitAnmeldung($event)" />

<div class="action" *ngIf="step == 0">
    <button mat-raised-button color="accent" (click)="next()" [disabled]="!selection" id="next-btn" #nextButton
        [title]="!selection ? 'Wählen Sie zuerst einen Termin aus der obigen Auswahl um fortzufahren.' : ''"
        class="btn-bg large">
        {{ text }}
    </button>
</div>