{{ define "main"}}
    <style>
        .post-container {
            display: flex;
            flex-direction: column;
        }

        article header {
            background: none;            
            overflow: hidden;
        }

        article.post {
            display: grid;
            grid-template-areas: 
            " header header "
            " pic main ";
        }

        article.post > div {
            grid-area: main;
            padding: 1em;
        }

        @media (max-width: 700px) {
            .post-container {
                grid-template-columns: auto auto;
            }
            article header {
                height: auto;
            }
            article.post {
                grid-template-areas: 
                " header "
                " pic "
                " main ";
            }
        }

        article.post header {
            grid-area: header;            
        }

        article.post img {
            grid-area: pic;
        }
                

    </style>
    <h2 id="title">BLOG</h2>    
    <div class="post-container">        
        {{ range .Pages.Reverse }}            
          {{ .Render "summary"}}
        {{ end }}
    </div>


{{ end }}