{{ define "main"}}
    
    {{ if .PrevInSection }}
        <a href="{{ .PrevInSection.Permalink }}">Vorheriger Artikel</a>
    {{ end }}
    {{ if and .PrevInSection .NextInSection }} | {{ end }}
    {{ if .NextInSection }}
        <a href="{{ .NextInSection.Permalink }}">Nächster Artikel</a>
    {{ end }}

    <h1>{{ .Title }}</h1>

    <img src="/img/{{ .Param "img" }}" alt="Foto {{ .Title }}" style="float: left; max-width: 350px; margin-right: 1em;">

    {{ .Content }}

    {{ if .PrevInSection }}
        <a href="{{ .PrevInSection.Permalink }}">Vorheriger Artikel</a>
    {{ end }}
    {{ if and .PrevInSection .NextInSection }} | {{ end }}
    {{ if .NextInSection }}
        <a href="{{ .NextInSection.Permalink }}">Nächster Artikel</a>
    {{ end }}
{{ end }}