{{ define "includes" }}
    {{ if isset .Params "img"}}
        {{ partial "facebook-sdk.html" . }}
    {{ end }}
{{ end }}

{{ define "main"}}
    
    <div style="display: flex; justify-content: space-between; flex-wrap: wrap; align-items: center;">
        <div>
            {{ if .PrevInSection }}
                <a href="{{ .PrevInSection.Permalink }}">Vorheriger Eintrag</a>
            {{ end }}
            {{ if and .PrevInSection .NextInSection }} | {{ end }}
            {{ if .NextInSection }}
                <a href="{{ .NextInSection.Permalink }}">Nächster Eintrag</a>
            {{ end }}
        </div>
        <div style="padding: 0.5em;">
            {{ partial "facebook-like.html" . }}
        </div>
    </div>

    <h1>{{ .Title }}</h1>

    {{ if isset .Params "img"}}
        <img class="blog" src="/img/{{ .Param "img" }}" alt="Foto {{ .Title }}">
    {{ end }}

    {{ .Content }}

    {{ $related := .Site.RegularPages.Related . }}    
    {{ with $related }}    
    <strong>Mehr zu diesem Thema finden Sie auch in folgenden Blogs:</strong>
    <ul>
        {{ range . }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
    </ul>
    {{ end }}

    {{ if isset .Params "img"}}
        {{ if .PrevInSection }}
            <a href="{{ .PrevInSection.Permalink }}">Vorheriger Eintrag</a>
        {{ end }}
        {{ if and .PrevInSection .NextInSection }} | {{ end }}
        {{ if .NextInSection }}
            <a href="{{ .NextInSection.Permalink }}">Nächster Eintrag</a>
        {{ end }}
    {{ else }}
        <br>
        {{ .Params.Description }}
    {{ end }}   
    

{{ end }}