<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "de" }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ block "title" . }}{{ .Site.Title }} {{ with .Params.Title }} | {{ . }}{{ end }}{{ end }}</title>
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width,minimum-scale=1">
  
  <meta name="description" content="{{ .Description | default .Site.Params.SiteDescription}}">
  
  <meta name="twitter:title" content="{{ .Params.Title }}"/>
  <meta name="twitter:description" content="{{ .Description | default .Site.Params.SiteDescription}}">
  <meta name="twitter:card" content="summary_large_image"/>
  
  <meta property="og:title" content="{{ .Params.og_title | default .Params.Title }}">
  <meta property="og:site_name" content="{{ .Site.Params.og_site_name }}"/>
  <meta property="og:description" content="{{ .Description | default .Site.Params.SiteDescription }}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:locale" content="de_DE"/>
  <meta property="og:url" content="{{ .Permalink }}"/>
  <meta property="og:image" content="{{ (.Params.og_image | default .Site.Params.og_image) | absURL }}">
  <meta property="og:image:width" content="1540"/>
  <meta property="og:image:height" content="1024"/>

  {{- partial "rich-content" . -}}

  <link rel="canonical" href="https://www.ifge.at">

  <link rel="icon" type="image/png" href="/img/favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">  
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

  {{- $style := resources.Get "/css/style.css" -}}
  {{- $slider := resources.Get "/css/slider.css" -}}
  {{- $nav := resources.Get "/css/nav.css" -}}
  {{- $global := slice $style $slider $nav | resources.Concat "/css/global.css" | minify | fingerprint -}}
  <link rel="stylesheet" type="text/css" href="{{ $global.Permalink | relURL }}"/>
</head>

<body>  
  {{ partial "cookieconsent" . }}
  {{ block "includes" . }}{{ end }}
  <header>    
    <div class="cont">
      <a href="/index.html">
        <img src="/img/logo.jpg" alt="IFGE Logo" class="logo"/>
      </a>
      <div>
        {{ partial "site-navigation" . }}      
      </div>
    </div>
  </header>

  <main>    
    <div class="cont">
      {{ block "main" . }}
      {{ end }}
      
      {{ if ne .Type "blog"}}
        {{ partial "insta-feed.html" . }}
      {{ end}} 

    </div>
    {{ partial "floating-button.html" "bottom" }}
  </main>

  <footer>
    {{ partial "site-footer.html" . }}
  </footer>

  {{ partial "floating-button.html" "aside" }}
  {{ with .Params.disableScrollTop }} {{ else }} {{ partial "scroll-top.html" . }} {{ end }}
  
  {{ partial "subscribe.html" }}

  <script>

    function toggleResponsive() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " show";        
      } else {
        x.className = "topnav";        
      }
    }

    function toggleSubmenuMobile(obj) {
      obj.parentNode.parentNode.parentNode.classList.toggle("show");
    }

    function toggleMore(obj) {      
      obj.parentNode.parentNode.classList.toggle("show");
    }
  </script>
  
  <script src="/js/slider.js"></script>
</body>

</html>