<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "de" }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  {{/* NOTE: the Site's title, and if there is a page title, that is set too */}}
  <title>{{ block "title" . }}{{ .Site.Title }} {{ with .Params.Title }} | {{ . }}{{ end }}{{ end }}</title>
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width,minimum-scale=1">
  
  <meta name="description" content="{{ .Description | default .Site.Params.SiteDescription}}">
  <link rel="shortcut icon" href="/img/favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
</head>

<body>
  
  {{ partial "cookieconsent" . }}

  <script src="/js/navbar.js"></script>
  <header>
    <div class="cont">
      <a href="/index.html">
        <img src="/img/logo.jpg" alt="IFGE Logo" class="logo"/>
      </a>
      <div>
        {{ partial "site-navigation" . }}      
      </div>
    </div>
  </header>

  {{/*  <div class="head-filler" style="grid-area: hfill1;"></div>
  <div class="head-filler" style="grid-area: hfill2;"></div>  */}}

  <main>
    <div class="cont">
      {{ block "main" . }}
      {{ end }}
    </div>
  </main>

  <!-- {{ partial "sidebar.html" . }} -->
  
  {{/*  <section class="contact">
    {{ partialCached "site-contact.html" . }}
  </section>  */}}

  <footer>
    {{ partial "site-footer.html" . }}
  </footer>

  {{ partial "floating-button.html" . }}
  {{ partial "scroll-top.html" .}}
  
  <script>

    function toggleResponsive() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";        
      } else {
        x.className = "topnav";
        /*  Array.from(document.getElementsByClassName("myclass")).forEach(
          (el) => {
            el.style.display = "none";
          }
        );  */
      }
    }

    function toggleSubmenu(obj) {
      if (obj.textContent === "+") {
        obj.parentNode.parentNode.parentNode.getElementsByClassName("dropdown-content")[0].classList.add("show");
        obj.textContent = "-";
      }
      else {
        obj.parentNode.parentNode.parentNode.getElementsByClassName("dropdown-content")[0].classList.remove("show");
        obj.textContent = "+";
      }
    }

    function showMore(obj) {
      obj.parentNode.parentNode.classList.add("show");
    }
  </script>
</body>

</html>