<h1>Für folgendes Produkt hast du dich entschieden:</h1>

<h3 style="text-align: center;">
  {{ produkt.name }}
</h3>

<ng-container *ngIf="!produkt.isOnlineakademie">
  <h4>Termin(e)</h4>
  <ul>
    <li *ngFor="let tag of produkt?.seminartage">
      {{ tag.startzeit | date:'EEE' }} {{ tag.startzeit | date:'mediumDate' }} von {{ tag.startzeit | date:
      'HH:mm'}} - {{ tag.endzeit | date: 'HH:mm'}} Uhr
    </li>
  </ul>
</ng-container>

<div [formGroup]="form" class="formular">

  <h4>Bitte wähle deine Zahlungsvariante</h4>
  <mat-radio-group class="preise" formControlName="preis">
    <mat-radio-button *ngFor="let preis of produkt?.preise" [value]="preis">
      <div>
        {{ preis.name }}<br>
        Gesamtbetrag: {{preis.gesamtbetrag | currency}}
        <span *ngIf="preis.anzahlung">(Anzahlung: {{preis.anzahlung | currency}}, {{preis.anzahlTeilzahlungen}}
          Teilzahlungen a
          {{preis.teilbetrag | currency}})</span>
      </div>
    </mat-radio-button>
  </mat-radio-group>
  <br>
  <mat-form-field>
    <mat-label>Hast du einen Aktionscode?</mat-label>
    <input matInput placeholder="Bitte hier eingeben" formControlName="aktionscode">
    <mat-icon matSuffix color="primary" *ngIf="codeValidation$ | async as v">check_circle</mat-icon>
  </mat-form-field>

  <div *ngIf="codeValidation$ | async as v">Gutscheincode gültig mit Wert {{v | currency}}. <br>
    Die Berücksichtigung erfolgt bei der Rechnungslegung. In der Bestätigungsmail kann der Gutschein noch nicht
    ausgewiesen werden. Vorbehaltlich Prüfung.</div>

  <h4>Persönliche Daten</h4>
  <div>
    Anrede:
    <mat-radio-group aria-label="Anrede" formControlName="anrede" required="true">
      <mat-radio-button value="W">Frau</mat-radio-button>
      <mat-radio-button value="M">Herr</mat-radio-button>
      <mat-radio-button value="D">Divers</mat-radio-button>
    </mat-radio-group>
  </div>
  <mat-form-field>
    <mat-label>Vorname</mat-label>
    <input matInput placeholder="Vorname" formControlName="vorname" maxlength="45">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nachname</mat-label>
    <input matInput placeholder="Nachname" formControlName="nachname" maxlength="45">
  </mat-form-field>
  <mat-form-field>
    <mat-label>E-Mail</mat-label>
    <input matInput placeholder="max.mustermann@example.com" formControlName="email" type="email">
    <mat-error *ngIf="form.controls['email'].invalid">E-Mail ungültig!</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Strasse</mat-label>
    <input matInput placeholder="Strasse" formControlName="strasse" autocomplete="off">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nr.</mat-label>
    <input matInput placeholder="Nr." formControlName="nr" autocomplete="off">
  </mat-form-field>
  <mat-form-field>
    <mat-label>PLZ</mat-label>
    <input matInput placeholder="PLZ" formControlName="plz" autocomplete="off">
    <mat-error *ngIf="form.controls['plz'].invalid && (form.controls['plz'].dirty || form.controls['plz'].touched)">
      Postleitzahl Format ungültig
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Ort</mat-label>
    <input matInput placeholder="Ort" formControlName="ort" autocomplete="off">
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Land</mat-label>
    <mat-select formControlName="nation" [compareWith]="idCompare">
      <mat-option *ngFor="let n of nations$ | async" [value]="{id: n.id}">{{n.name}}</mat-option>
  </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>UID-Nummer</mat-label>
    <input matInput formControlName="atu" autocomplete="off">
  </mat-form-field>
  
  <div>
    Bei Firmenrechnung: Bitte die Rechnungsadresse im Mitteilungsfeld ergänzen.
  </div>

  <mat-form-field>
    <mat-label>Deine Mitteilung an Silvia</mat-label>
    <textarea matInput cdkTextareaAutosize autocomplete="off" cdkAutosizeMinRows="2" formControlName="notiz"
      maxlength="512"></textarea>
  </mat-form-field>
  <mat-checkbox formControlName="agb" style="white-space: normal;">
    Ich stimme den <a href="https://ifge.at/agb/" target="_blank" rel="noopener">AGB</a> zu
  </mat-checkbox>
  <mat-checkbox formControlName="datenschutz">
    Es gilt die <a href="https://ifge.at/datenschutz/" target="_blank" rel="noopener">Datenschutzerklärung</a>
  </mat-checkbox>
  <mat-checkbox formControlName="widerruf">
    <a href="https://ifge.at/widerrufsbelehrung/" target="_blank" rel="noopener">Widerrufsbelehrung</a> gelesen u.
    akzeptiert
  </mat-checkbox>
  <mat-checkbox formControlName="newsletter">
    Newsletter Anmeldung
  </mat-checkbox>
</div>

<ng-container *ngIf="produkt.stornobedingungen?.length">
  <br>
  <h4>Stornobedingungen</h4>
  <p *ngFor="let st of produkt.stornobedingungen">
    Bei Absagen bis {{st.tage}} Tage vor Kursbeginn fallen {{st.quote}} % der Kursgebühr als Stornokosten an.
  </p>
  Bei Absagen vor den genannten Zeiträumen wird keine Stornogebühr verrechnet.
</ng-container>

<div class="flex-cont">
  <button mat-raised-button (click)="goBack()" class="large">
    Zurück
  </button>
  <button mat-raised-button color="primary" [disabled]="form.invalid || loading" class="large" (click)="kaufRequest()">
    Bezahlungspflichtig Kaufen
  </button>
</div>