.preise {
    display: flex;
    flex-direction: column;
}


.formular {
    display: grid;
    grid-template-columns: auto;
    column-gap: 0.5em;
    row-gap: 0.5em;
}

.mat-mdc-form-field-infix {
    min-height: 50px;
}

@media (max-width: 700px) {
    .formular {
        grid-template-columns: auto;
        row-gap: 0.2em;
    }

    .formular label {
        margin-top: 0.6em;
        text-align: left;
        padding: 2px;
    }
}

ul li {
    list-style-image: none;
}

mat-error {
    font-size: 0.8rem;
}

::ng-deep mat-radio-button label.mdc-label {
    padding-top: 5px;
    padding-bottom: 5px;
}