<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-1153249710"></script>
<script> window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'AW-1153249710'); </script>


<!-- Event snippet for Kaufformular absenden conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
<script>
    function gtag_report_conversion(value) {        
        gtag('event', 'conversion', {
            'send_to': 'AW-1153249710/SwPyCPeNsbkYEK6hnfYD',
            'value': value ?? 0,
            'currency': 'EUR',
        });
        return false;
    }
</script>