<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<style>
    .cc-btn {
        font-size: 1em;
        font-weight: 300;
    }
</style>
<script>
    /*  https://www.dair-media.net/blog/google-analytics-mit-optin-implementieren/  */
    function loadGAonConsent(){
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-XXXXX-X', 'auto');
      ga('set', 'anonymizeIp', true);
      ga('send', 'pageview');
      var gascript = document.createElement("script");
      gascript.async = true;
      gascript.src = "https://www.google-analytics.com/analytics.js";
      document.getElementsByTagName("head")[0].appendChild(gascript, document.getElementsByTagName("head")[0]);               
    }
     
    if (document.cookie.split(';').filter(function(item) {
        return item.indexOf('cookieconsent_status=allow') >= 0
    }).length) {
        loadGAonConsent();
    }
     
    window.addEventListener("load", function(){
        const options = {
            "palette": {
                "popup": { "background": getComputedStyle(document.body).getPropertyValue("--color-green")},
                "button": { "background": getComputedStyle(document.body).getPropertyValue("--color-red")}
            },
            "theme": "classic",
            "type": "opt-in",
            "revokable": false,
            //"autoAttach": false,
            "content": {
                "message": "Wir nutzen Cookies und Google Analytics, um diese Website für Sie so interessant wie möglich zu gestalten. Sind Sie damit einverstanden? (Sie können diese Entscheidung jederzeit widerrufen)",
                "deny": "Ablehnen",
                "allow": "OK",
                "link": "Datenschutzerklärung",
                "href": "/datenschutz.html",
                "policy": "Cookie-Einstellungen"
            },
            onStatusChange: function(status, chosenBefore) {
                var type = this.options.type;
                var didConsent = this.hasConsented();
                if (type == 'opt-in' && didConsent) {
                    // enable cookies
                    loadGAonConsent();
                    window['ga-disable-GA_MEASUREMENT_ID'] = false;
                }
                else {
                    /*  implement opt-out  */
                    /*  https://developers.google.com/analytics/devguides/collection/gtagjs/user-opt-out  */
                    window['ga-disable-GA_MEASUREMENT_ID'] = true;
                }
            }
        }
        window.cookieconsent.initialise(options)

        //var instance = new cookieconsent.Popup();
        //document.body.appendChild(instance.element);
    });
    </script>