<div class="green-filler" style="grid-area: gfill1;"></div>
<div class="green-filler" style="grid-area: gfill2;"></div>
<div class="green-filler" style="grid-area: gfill3;"></div>
<div class="green-filler" style="grid-area: gfill4;"></div>
<div class="white-filler" style="grid-area: wfill1;"></div>
<div class="white-filler" style="grid-area: wfill2;"></div>
<div class="white-filler" style="grid-area: wfill3;"></div>
<div class="white-filler" style="grid-area: wfill4;"></div>
<div class="head-filler" style="grid-area: hfill1;"></div>
<div class="head-filler" style="grid-area: hfill2;"></div>