<div class="floating-button-container {{ . }}">
    <a href="tel:00436766108936" title="+43 676 6108936">
        <img src="/img/icon/tel_rot.png" alt="Telefon Icon">
    </a>
    <a href="mailto:silvia.podlisca@ifge.at?subject=Anfrage" title="silvia.podlisca@ifge.at">
        <img src="/img/icon/mail_rot.png" alt="EMail Icon">
    </a>
    <a href="https://instagram.com/lebensberatung_ifge?igshid=bf7sluigpsn5" title="Instagram" target="_blank" rel="noopener">
        <img src="/img/icon/instagram.png" alt="Instagram Icon">
    </a>
    <a href="https://www.facebook.com/ifge.silvia.podlisca" title="Zum Facebook Auftritt" target="_blank" rel="noopener">
        <img src="/img/icon/facebook_3.png" alt="Facebook Icon">
    </a>
</div>