{{ $style := .style}}
{{ with .context }}
    
    <div class="line">
        <hr/>
        <div>
            <img src="/img/icon/i_a_u_s.png" alt="In-Ausbildung-unter-Supervision Icon"/>     
        </div>
    </div>
    
    <div class="referent {{ $style }}">
        <div class="box">
            <div class="small">
                <h4>{{ .Name }}</h4>
            </div>
        </div>
        <div class="floatbox">
            <p>
            <img src="{{ .Bild }}" class="float {{ .Float }}" alt="Foto {{ .Name }}"/>
            {{ range $index, $element := .Text }}
                {{ if ne $index 0}}
                    <p>
                {{ end }}
                {{ . }}
                </p>
            {{ end }}
            <div style="clear: both;"></div>
            {{ range .Werdegang }}
                {{ if .Abschnitt }}<p>{{ .Abschnitt }}</p>{{ end }}            
                <ul>
                    {{ range .Station }}
                        <li>{{ . }}</li>
                    {{ end}}
                </ul>
            {{ end }}
        </div>
        <div class="box" style="align-items: flex-start;">
            {{ with .Kontakt }}
                <div class="small">
                    <h3>Kontakt</h3>
                    {{ range .Anschrift }}
                        {{ . }}<br>
                    {{ end }}
                    {{ with .Tel }}
                        Tel.: <a href="tel:{{ . }}">{{ . }}</a><br>
                    {{ end }}
                    {{ with .Mail }}
                        E-Mail: <a href="mailto:{{ . }}">{{ . }}</a><br>
                    {{ end }}
                    {{ with .Web }}
                        Web: <a href="//{{ . }}" target="_blank">{{ . }}</a><br>
                    {{ end }}
                </div>
            {{ end }}
        </div>
    </div>
{{ end }}