{{ if .Params.rich_kurs }}
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Course",
      "name": {{ .Title }},
      "description": {{ .Description }},
      "provider": {
        "@type": "Organization",
        "name": {{ .Site.Params.rich_provider }},
        "sameAs": {{ .Site.BaseURL }}
      }
    }
</script>
{{ end }}

{{ if .Params.rich_logo }}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "url": {{ .Site.BaseURL }},
    "logo": {{ "/img/logo2025.jpg" | absURL }}
  }
</script>
{{ end }}

{{ with .Params.rich_faq }}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
      {{ range $index, $val := . }} 
      {{ if $index }}, {{ end }}
      {
        "@type": "Question",
        "name": {{ $val.frage }},
        "acceptedAnswer": {
          "@type": "Answer",
          "text": {{ $val.antwort }}
        }      
      }
      {{ end }}
    ] 
  }
</script>
{{ end }}