<nav class="topnav" id="myTopnav">  
  <div class="toggleResponsive">
    <a href="javascript:void(0);" class="icon" onclick="toggleResponsive()">&#9776;</a>    
  </div>
  {{ $currentPage := . }}
  {{ range .Site.Menus.main }}
    {{ if .HasChildren }}  
      
      <div class="dropdown {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
        <div class="mobile">
          <div class="has-dropdown">
            <a href="javascript:void(0);" onclick="toggleSubmenuMobile(this);">{{ .Name }} <span>&#9654;</span></a>
          </div>          
        </div>
        <div class="desktop">
          <div class="has-dropdown">
            {{ .Name }}
          </div>
          <div class="submenu-toggler">
            <a href="javascript:void(0);" onclick="toggleSubmenu(this);">+</a>    
          </div>
        </div>

        <div class="dropdown-content">
          {{ range .Children }}              
              <a class="{{ if or ($currentPage.IsMenuCurrent "main" . ) ($currentPage.HasMenuCurrent "main" . )}}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
          {{ end }}
        </div>
      </div>
    {{ else }}
      <div>
        <a class="{{ if or ($currentPage.IsMenuCurrent "main" . ) ($currentPage.HasMenuCurrent "main" . )}}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
      </div>
    {{ end }}
  {{ end }}  
</nav>