<div class="line1">
    <img src="/img/impulspro.jpg" alt="ImpulsPro" class="logo"/>
    <img src="/img/aufstellungsarbeit.jpg" alt="ImpulsPro Aufstellungsarbeit" class="logo"/>
    <img src="/img/supervision.jpg" alt="ImpulsPro Supervision" class="logo"/>
</div>
<div class="line2">
<img src="/img/logo.jpg" alt="IFGE Logo klein" class="logo"/>

{{ $currentPage := . }}
{{ range .Site.Menus.footer }}
    <div>
        <a class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>   
    </div>      
{{ end }}
<div><a href="javascript:document.getElementsByClassName('cc-revoke')[0].click()">Cookie-Einstellungen</a></div>
<div><a href="javascript:void(0)" class="popup-trigger" data-popup-trigger="subscribe">Newsletter</a></div>
<div>{{ now.Format "02.01.2006"}}</div>
</div>

{{/*  15:04   */}}