<nav class="topnav" id="myTopnav">
  {{ $currentPage := . }}
  {{ range .Site.Menus.main }}
    {{ if .HasChildren }}  
      
      <div class="dropdown {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
        
        <div class="has-dropdown">
          {{ .Name }}
        </div>

        <div class="dropdown-content">
          {{ range .Children }}              
              <a class="{{ if or ($currentPage.IsMenuCurrent "main" . ) ($currentPage.HasMenuCurrent "main" . )}}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
          {{ end }}
        </div>
      </div>
    {{ else }}
      <a class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a> 
    {{ end }}
  {{ end }}

  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>    
</nav>