<!-- https://github.com/rchisholm/vanilla-slider -->


<link rel="stylesheet" href="/css/slider.css">
<div class="blog-slider__container">
   <div class="blogSlides fade">
        <img src="/img/ifge_wien.jpg">        
   </div>
    <div class="blogSlides fade">
        <img src="https://www.dropbox.com/s/wu9u6l53z3q6zpa/date.jpg?raw=1">        
    </div>
    <div class="blogSlides fade">        
        <img src="https://www.dropbox.com/s/c7vg753l95iv7g8/photo-bg-04.jpg?raw=1">
    </div>
    <a class="prev" onclick='plusSlides(-1)'>&#10094;</a>
    <a class="next" onclick='plusSlides(1)'>&#10095;</a>
</div>
<br>
<div class="blogSlider__dots" style="text-align:center">
    <span class="blogSlider__dots--dot" onclick="currentSlide(1)"></span> 
    <span class="blogSlider__dots--dot" onclick="currentSlide(2)"></span> 
    <span class="blogSlider__dots--dot" onclick="currentSlide(3)"></span> 
</div>
<script src="/js/slider.js"></script>
  
