:host {
    display: block;
    padding: 2px 0;
}

:host.selected button {
    background-color: var(--ltw-color-termin-selected);
    color: white;
}

button {
    width: 100%;
    line-height: 20px;
}

button:hover {
    cursor: pointer;
}

button .cont {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.termin .status {
    font-weight: normal;
}