<style>
    .jumbo {
        display: none;
        position: relative;
        background-size: contain;
        background-position-x: {{ .Get "img_position_x"}};
        background-position-y: {{ .Get "img_position_y"}};        
        margin-top: 1rem;
        background-repeat: no-repeat;
    }

    .jumbo .message.desk {
        display: none;
        position: absolute;
        bottom: 13%;
        max-width: 40%;
        color: black;
        padding: 0.5rem;
        left: 20px;
    }

    .jumbo .title.desk {
        display: none;
        position: absolute;
        top: 20%;
        left: 30px;
        max-width: 360px;
    }

    .jumbo .title.desk h2 {
        font-size: 1.7rem;
        font-weight: bold;
        text-align: left;
    }

    .message.mobile {
        display: block;
    }

    @media (min-width: 768px) {
        .jumbo {
            display: block;
            background-image: url('/img/silvia_start_2.png');            
            height: 600px;
        }

        .message.mobile {
            display: none;
        }

        .jumbo .message.desk,
        .jumbo .title.desk {
            display: block;
        }
    }

    @media (max-width: 575px) {
        .jumbo {
            height: 190px;
        }
    }
</style>

<div class="jumbo">
    <div class="title desk">
        <h2>Menschen bewegen, begleiten & bereichern.</h2>
    </div>
    <div class="message desk">
        <p>
            Weiterbildung. Veränderung. Selbstverwirklichung. Das gehört zu einem erfüllten Leben dazu. Und genau
            das steht seit mehr als 20 Jahren im Zentrum unseres Instituts. Wir bewegen Menschen mit vielfältigen
            Qualitätsausbildungen, begleiten sie bei ihrer beruflichen sowie persönlichen Entwicklung und bereichern
            sie so mit neuen Perspektiven. Und das mit viel Intuition, fundiertem Fachwissen, jeder Menge Gefühl und
            großem Erfolg.
        </p>
        <a href='{{ relref . "diplomlehrgaenge" }}' class="cst-button">Mehr lesen</a>
    </div>
</div>
<div class="message mobile" style="margin: 1rem 0 2rem 0">
    <img src="/img/startseite_handy.jpg" alt='{{ .Get "alt"}}'>
    <p>
        Weiterbildung. Veränderung. Selbstverwirklichung. Das gehört zu einem erfüllten Leben dazu. Und genau
        das steht seit mehr als 20 Jahren im Zentrum unseres Instituts. Wir bewegen Menschen mit vielfältigen
        Qualitätsausbildungen, begleiten sie bei ihrer beruflichen sowie persönlichen Entwicklung und bereichern
        sie so mit neuen Perspektiven. Und das mit viel Intuition, fundiertem Fachwissen, jeder Menge Gefühl und
        großem Erfolg.
    </p>
    <a href='{{ relref . "diplomlehrgaenge" }}' class="cst-button">Mehr lesen</a>
</div>