{{/*  
Beispielanwendung mit Parametern:

{{< booking produkte="Infoveranstaltung Tiergestützte Coachingausbildung Online,Produkt 2" success="/danke.html" dsgvo="/dsgvo.html">}}

Alle Parameter sind optional. Wenn nicht angegeben wird auf untenstehende Default-Werte zurückgegriffen bzw. im Falle der Produkte die über die API vorgesehen Defaults verwendet.
Diese sind die Lsb-Infoveranstaltungen.

Produkte müssen exakt mit Produktnamen und durch Komma getrennt angegeben werden. Kein Leerzeichen zwischen den Kommas (dieses zählt dann zum Produktnamen).
Wenn ein Produktname nicht übereinstimmt wird dafür kein Ergebnis zurückgeliefert. 

Wenn es insgesamt keine Termine gibt wird das mit einer Textzeile im Widget angezeigt: Derzeit keine Termine verfügbar.

*/}}

{{$produkte := split (.Get "produkte") ","  }}

<!--  IFGE booking widget start -->
<link rel="stylesheet" href="https://booking.ifge.at/styles.css">
<ifge-booking></ifge-booking>
<script>
    window.lwrData = window.lwrData || [];
    function lwrPush() { lwrData.push(arguments) };
    lwrPush('config', {
        {{ if .Get "produkte" }}
            produkte: [
                {{ range $produkte }}
                    "{{ . }}",
                {{ end }}            
            ],
        {{ end }}
    url_success: {{ default "https://lsb.ifge.at/danke/" (.Get "success")}},
    url_dsgvo: {{ default "/datenschutz" (.Get "dsgvo") }},
    });

</script>
<script src="https://booking.ifge.at/runtime.js" type="module"></script>
<script src="https://booking.ifge.at/polyfills.js" type="module"></script>
<script src="https://booking.ifge.at/main.js" type="module"></script>
<!--  IFGE booking widget end -->