<!-- Produkte werden dynamisch über Shortcode Parameter konfiguriert -->
{{$produkte := split (.Get "produkte") ","  }}

<!--  IFGE booking widget start -->
<link rel="stylesheet" href="https://booking.ifge.at/styles.css">
<ifge-booking></ifge-booking>
<script>
    window.lwrData = window.lwrData || [];
    function lwrPush() { lwrData.push(arguments) };
    lwrPush('config', {
        {{ if .Get "produkte" }}
            produkte: [
                {{ range $produkte }}
                    "{{ . }}",
                {{ end }}            
            ],
        {{ end }}
    url_success: {{ .Get "success"}},
    //url_dsgvo: 'https://ifge.de/dsgvo.html',
    });

</script>
<script src="https://booking.ifge.at/runtime.js" type="module"></script>
<script src="https://booking.ifge.at/polyfills.js" type="module"></script>
<script src="https://booking.ifge.at/main.js" type="module"></script>
<!--  IFGE booking widget end -->