
{{ $link := "" }}

{{ if .Get "link" }}
{{ $link = .Get "link" }}
{{ else }}
{{ $link = (.Get "title" | lower) }}
{{ end }}

{{ if eq .Parent.Name "iconmenu"}}
{{ $link = relref . (print $link ".md" ) }}
{{ end }}


<div class="card{{ if eq .Parent.Name "iconmenu"}}{{ if eq .Page.RelPermalink ( $link  )}} active{{ end }}{{ end }}">

<div class="icon">
    <a href="{{ $link }}">
        <img src="/img/{{ if .Get "icon" }}{{ .Get "icon" }}{{ else }}icon.svg{{ end}}" alt="{{ .Get "icon" }}"/>
    </a>
</div>
{{ if .Get "title" }} 
<div class="title">
<a href="{{ $link }}">    
{{ .Get "title"}}
</a>
</div>
{{ end }}
{{ with .Get "text" }} <div class="text">{{.}}</div>{{ end }}
<div class="link">
<a href="{{ $link }}">
    <img src="/img/noun_Arrow_5440-3.png" alt="arrow-right"/>
</a>
</div>
</div>