
<div class="card{{ if eq .Parent.Name "iconmenu"}}{{ if eq .Page.RelPermalink ( relref . (print (.Get "title" | lower) ".md" ) )}} active{{ end }}{{ end }}">

{{ if .Get "icon" }} 
<div class="icon">
    <a href="{{ if eq .Parent.Name "iconmenu"}}{{ relref . (print (.Get "title" | lower) ".md" ) }}{{ else }}{{ if .Get "link" }}{{ .Get "link" }}{{ else }}#{{ end }}{{ end }}">
        <img src="/img/{{ if .Get "icon" }}{{ .Get "icon" }}{{ else }}icon.svg{{ end}}"/>
    </a>
</div>
{{ end }}

{{ if .Get "title" }} 
<div class="title">    
<a href="{{ if eq .Parent.Name "iconmenu"}}{{ relref . (print (.Get "title" | lower) ".md" ) }}{{ else }}{{ if .Get "link" }}{{ .Get "link" }}{{ else }}#{{ end }}{{ end }}">
{{ if .Get "img"}}<h4>{{ .Get "title"}}</h4>{{ else }}{{ .Get "title"}}{{ end }}
</a>
</div>
{{ end }}

{{ if .Get "img"}}
<div class="image">
    <img src="/img/{{ .Get "img" }}"/>
</div>
{{ end }}

<div class="text">
    {{ .Inner }}
</div>
<div class="link">
<a class="more" href="javascript:void(0);" onclick="toggleMore(this);">
    Mehr lesen...
</a>
<a class="more" href="javascript:void(0);" onclick="toggleMore(this);">
    <img src="/img/noun_Arrow_5440-3.png" alt="arrow-right" style="transform: rotate(90deg);"/>
</a>
<a class="less" href="javascript:void(0);" onclick="toggleMore(this);">
    Weniger...
</a>
<a class="less" href="javascript:void(0);" onclick="toggleMore(this);">
    <img src="/img/noun_Arrow_5440-3.png" alt="arrow-right" style="transform: rotate(-90deg);"/>
</a>
</div>
</div>