{{ $toggle := false }}

{{ $path := "inausbildung" }}

{{ range $idx, $val := $.Site.Data }}
   {{ $idx }}

   

{{ end }}


<hr/>
<h2>Wien</h2>
<hr/>

{{ range $.Site.Data.inausbildung.wien }}
   {{ if $toggle }}    
      {{ partial "in-ausbildung.html" (dict "context" . "style" "" ) }}
      {{ $toggle = false }}
   {{ else }}
      {{ partial "in-ausbildung.html" (dict "context" . "style" "blue" ) }}
      {{ $toggle = true }}
   {{ end}}
{{ end }}


<hr/>
<h2>Niederösterreich</h2>
<hr/>

{{ range $.Site.Data.inausbildung.noe }}
   {{ if $toggle }}    
      {{ partial "in-ausbildung.html" (dict "context" . "style" "" ) }}
      {{ $toggle = false }}
   {{ else }}
      {{ partial "in-ausbildung.html" (dict "context" . "style" "blue" ) }}
      {{ $toggle = true }}
   {{ end}}
{{ end }}


<hr/>
<h2>Burgenland</h2>
<hr/>

{{ range $.Site.Data.inausbildung.burgenland }}
   {{ if $toggle }}    
      {{ partial "in-ausbildung.html" (dict "context" . "style" "" ) }}
      {{ $toggle = false }}
   {{ else }}
      {{ partial "in-ausbildung.html" (dict "context" . "style" "blue" ) }}
      {{ $toggle = true }}
   {{ end}}
{{ end }}

<hr/>
<h2>Steiermark</h2>
<hr/>

{{ range $.Site.Data.inausbildung.steiermark }}
   {{ if $toggle }}    
      {{ partial "in-ausbildung.html" (dict "context" . "style" "" ) }}
      {{ $toggle = false }}
   {{ else }}
      {{ partial "in-ausbildung.html" (dict "context" . "style" "blue" ) }}
      {{ $toggle = true }}
   {{ end}}
{{ end }}