<div style="background-color: var(--color-green); color: white; display: flex; justify-content: center;">
<div style="width: 80%; margin: 3rem 0;">

<b>Das Institut für ganzheitliches Erleben: Ausbildungen.</b>

Genauso vielfältig wie wir Menschen und unser Leben, sind auch die Ausbildungsangebote unseres Instituts. Wir sind stolz, dass wir an mittlerweile drei Standorten in Wien, dem Burgenland und in Niederösterreich Menschen bilden, bewegen und bereichern. Seit über zehn Jahren bieten wir ein breites Spektrum an psychosozialen Lehrgängen (Lebensberatung – Psychologische Beratung, Tiergestützte psychologische Beratung, Einzel- und Gruppensupervision etc.) und Selbsterfahrungsangebote (Familienaufstellung, Sexualberatung, Trauerbewältigung etc.) sind bereits mehr als 20 Jahre Teil unseres Portfolios. Mit der Zeit zu gehen, ist für uns selbstverständlich. Daher bieten wir neben Kursen im Präsenzformat auch Online-Ausbildungen. So können wir flexibler und individueller auf die Bedürfnisse unserer Teilnehmer eingehen. 

So vielfältig unsere Leistungen und Angebote auch sind, der Mensch steht immer im Mittelpunkt. Authentizität, Wertschätzung, Herzlichkeit, Professionalität und qualitativ-hochwertige Ausbildungen, dafür stehen wir.
</div>
</div>